.class
.classpath
.project
.setting
.settings

# Package Files #
*.jar
*.war
*.ear

# folders
out/
data/
bin
/jars/

#config
config.properties

#vim
*.swp

#python
*.pyc
/result.csv

#IntellijIdea
.idea/
*.iml
META-INF/

#Mac
.DS_Store
